addons:
  postgresql: "10"
  apt:
    packages:
      - postgresql-10-postgis-2.4
      - postgresql-10-postgis-2.4-scripts
      - postgresql-contrib-10
env:
  - PATH=".:/usr/lib/postgresql/10/bin:$PATH"
install: "true"
language: erlang
matrix:
  include:
    - otp_release: 23.3.1
    - otp_release: 22.3
    - otp_release: 21.3
    - otp_release: 20.3
    - otp_release: 19.3
    - otp_release: 18.3
script:
  - '[ "$TRAVIS_OTP_RELEASE" = "18.3" ] || make elvis' # TODO: remove the guard when OTP18 support is dropped
  - make test
  - make edoc
  - make dialyzer
