%% -*- mode: erlang -*-

{eunit_opts, [verbose]}.

{cover_enabled, true}.

{edoc_opts, [{preprocess, true}]}.

{profiles, [
    {test, [
        {deps, [
            {erlexec, "1.10.0"}
        ]}
    ]},
    {lint, [
        {plugins, [rebar3_lint]}
    ]}
]}.

{ct_opts, [
    {ct_hooks, [epgsql_cth]}
]}.

{elvis,
  [#{dirs => ["src", "src/*"],
     include_dirs => ["include"],
     filter => "*.erl",
     ruleset => erl_files,
     rules =>
         [{elvis_style, line_length, #{limit => 120}},
          {elvis_style, god_modules, #{limit => 41}},
          {elvis_style, state_record_and_type, disable} % epgsql_sock
         ]}
  ]
 }.
