{erl_opts, [{platform_define, "^[0-9]+", have_maps},
            {platform_define, "^(1[89])|^([2-9][0-9])", 'FAST_MAPS'}]}. % Erlang >=18

{eunit_opts, [verbose]}.

{cover_enabled, true}.
{cover_print_enabled, true}.

{profiles, [
    {test, [
        {deps, [
            {erlexec, {git, "https://github.com/saleyn/erlexec.git", {ref, "576fb5d"}}}
        ]}
    ]}
]}.

{ct_opts, [
    {ct_hooks, [epgsql_cth]}
]}.
